/NaiveStringSearch/nbproject/private/
/NaiveStringSearch/dist/
/NaiveStringSearch/build/
/KMPStringSearch/nbproject/private/
/KMPStringSearch/build/
/BoyerMooreStringSearch/nbproject/private/
/BoyerMooreStringSearch/build/